.HoverBox {
  display: block;
  padding: 2rem 1rem;
  margin: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px grey;
  transition: color 0.3s, transform 0.3s !important;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

@media only screen and (min-width: 992px) {
  .HoverBox {
    flex: 0 0 25%;
  }
}

.HoverBox:hover {
  transform: scale(1.02);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px grey;
}

.HoverBoxEmoji {
  font-size: 2.5rem;
}

.HoverBoxTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.HoverBoxDescription {
  margin: 12px;
}